<% layout('../layouts/boilerplate') -%>
<body>
    <h2>Edit this Wardrobe : <%= ThisShirt.title %></h2>
    <form action="/shirt/<%= ThisShirt._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Change Shirt Title</label>
            <input type="text" name="shirt[title]" value="<%= ThisShirt.title %>" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="dressType">Change Dress Type:</label>
            <select name="shirt[dressType]" id="dressType" class="form-select">    
                <option value="<%= ThisShirt.dressType %>" selected><%= ThisShirt.dressType %></option>
                <option value="casual" selected>Casual</option>
                <option value="formal">Formal</option>
                <option value="party wear">Party wear</option>
                <option value="ethnic">Ethnic</option>
                <option value="summer">Summer</option>
                <option value="winter">Winter</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file"name="shirt[image]" placeholder="Enter image URL/link" value="<%= ThisShirt.image %>" class="form-control ">
        </div>
        <button class="btn btn-outline-success mt-3">Update Shirt Details</button>
    </form>    
    <div class="row">
        <div class="col d-flex">    
    <form action="/shirt/<%= ThisShirt._id %>?_method=DELETE" method="post">
        <button class="btn btn-outline-danger mt-3 me-3">Delete</button>
    </form>
    <% if(ThisShirt.favorite) { %>
        <form action="/<%= ThisShirt._id %>/favorite" method="post">
            <button class="btn btn-danger mt-3">Remove Favorite</button>
        </form>
    <% }else{ %>
        <form action="/<%= ThisShirt._id %>/favorite" method="post">
            <button class="btn btn-success mt-3">Add to Favorite</button>
        </form>
   <% } %>
   
        </div>
    </div>
</body>